# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/
coverage/
test/data/
sqlite3.dll
libsqlite3.dylib
libsqlite3.so

# Directory created by dartdoc
doc/api/
